page-details {
  #contact-icon {
    border-radius: 50%;
  }

  #action-buttons {
    border-top: 1px solid rgba(192, 192, 192, 0.5);
    border-bottom: 1px solid rgba(192, 192, 192, 0.5);
  }

  .ar11 {
    @include aspect-ratio(1, 1);
  }

  .capital {
    color: color($colors, bwE);
    font-size: 4rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
